

.container-1 {
    background-color: #EEEEEE;
    display: block;
    align-items: center;
}

.container-2 {
    background-color: yellow;
    display: inline-block;
    justify-items:center;
    align-items:stretch;
    width: auto;
}

.box1 {
    background-color: #7EE5DA;
}

.box2{
    background-color: #70CCC2;
}

.box3 {
    background-color: #62B3AA;
}

.box {
    float: left;
    height: 100px;
    border: 2px solid white
}

div {
    text-align: center;
}

.img {
    height: 113px;
    width: 351px;
    align-items: right;
}
